@mixin breakpoint-up($value) {
  $bp: 0;

  @if _b_is-number($value) {
    $bp: _b_parse-px($value);
  } @else {
    $bp: _b_get-bp($value);

    @if _b_check-min-breakpoint($value) {
      @error "You cannot use the minimum breakpoint when 'disallow-min-breakpoint' is 'true'.";
    }
  }

  @media screen and (min-width: _b_lead-to-units($bp)) {
    @content;
  }
}


@mixin breakpoint-range($minValue, $maxValue) {
  $bpMin: 0;
  $bpMax: 0;

  @if _b_is-number($minValue) {
    $bpMin: _b_parse-px($minValue);
  } @else {
    $bpMin: _b_get-bp($minValue);

    @if $minValue == $maxValue {
      @error 'Arguments must be different.';
    }

    @if _b_check-min-breakpoint($minValue) {
      $bpMin: 0;
    }
  }

  @if _b_is-number($maxValue) {
    $bpMax: _b_parse-px($maxValue);
  } @else {
    $bpMax: _b_get-next-bp($maxValue);
  }

  @if $bpMin >= $bpMax {
    @error 'The upper breakpoint must be larger than the lower one.';
  }

  @media screen and (min-width: _b_lead-to-units($bpMin)) and (max-width: _b_lead-to-units($bpMax - 0.02)) {
    @content;
  }
}


@mixin breakpoint-only($value) {
  $bp: _b_get-bp($value);
  $bpNext: _b_get-next-bp($value);

  @if _b_check-min-breakpoint($value) {
    $bp: 0;
  }

  @include breakpoint-range($bp, $bpNext) {
    @content;
  }
}
